.service {
  h1 {
    font-size: 55px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $heading-color;
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Cairo", sans-serif;
  }
  p,
  a {
    color: $para-color;
    font-size: 16.5px;
    line-height: 23px;
  }

  ul {
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

    li {
      list-style: disc;
      font-size: 16px;
      color: $para-color;
      margin-bottom: 7px;
    }
  }

  article {
    margin: 2rem 0;
  }

  .services-links {
    padding-bottom: 40px;
  }
  .cities-tabs {
    margin: 45px 0;
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
      }
    }

    .tab-pane {
      padding-top: 15px;
    }
  }
}

.cities-bar {
  background: $border-1;
  text-align: center;
  margin: 40px 0;

  p {
    padding: 10px 0;
  }

  .sp-md {
    margin: 0 21%;
  }
}
