

  
.enquiry-btn {
  position: absolute;
  top: 30%;
  left: 96.7%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  background: $primary-color;
  color: $white-color;
  border: 3px solid #cce5ff;
  z-index: 2;
  padding: 0px 16px;
}
