.slider {
  padding-left: 5rem;
  padding-right: 5rem;

  .enquiry-btn {
    position: absolute;
    top: 14%;
    left: 88.8%;
    transform: translate(-50%, -50%);
    font-size: xx-small;
    font-weight: bold;
    background: #7fad39;
    color: white;
  }
}
