

.tos-policy{


    ul,ol{
        margin-left: 56px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul,a,ol {
        color: #6f6f6f;
    }
    a{
        cursor: pointer;
    }
   
    a:hover{
        color: #6f6f6f;
        text-decoration: underline;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.17em;
    }
}