Options +FollowSymlinks
RewriteEngine on
RewriteRule ^mlm-in-([0-9a-zA-Z-.]+)  mlm-service.php?city=$1 [NC,L]
RewriteRule ^mlm-companies-in-([0-9a-zA-Z-.]+)  mlm-companies-cities.php?city=$1 [NC,L]
RewriteRule ^network-marketing-in-([0-9a-zA-Z-.]+)  network-marketing-cities.php?city=$1 [NC,L]
RewriteRule ^mlm-business-in-([0-9a-zA-Z-.]+)  mlm-business-cities.php?city=$1 [NC,L]
RewriteRule ^mlm-software-in-([0-9a-zA-Z-.]+)  mlm-software-cities.php?city=$1 [NC,L]
RewriteRule ^multi-level-marketers-in-([0-9a-zA-Z-.]+)  multi-level-marketers-cities.php?city=$1 [NC,L]
RewriteRule ^direct-marketing-in-([0-9a-zA-Z-.]+)  direct-marketing-cities.php?city=$1 [NC,L]
RewriteRule ^direct-selling-companies-in-([0-9a-zA-Z-.]+)  direct-selling-companies-cities.php?city=$1 [NC,L]



